// SB32 Resource description

#include "sb32.h"
#include "windows.h"

// Read Me Dialog Box
README DIALOG DISCARDABLE  50, 8, 400, 200
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SBASIC"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT IDC_README,8,8,384,170, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_VSCROLL
    DEFPUSHBUTTON "Retour",IDC_RETURN,184,182,32,14
END

// About Dialog Box
ABOUT DIALOG DISCARDABLE  50, 6, 125, 65
STYLE WS_POPUP | WS_DLGFRAME
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT "SBASIC 4.5",-1,0,10,120,8
    CTEXT "(C)1982 Ghazi Abou Jaoude",-1,0,20,120,8
    CTEXT "(C)2018 Dominique Ezvan",-1,0,30,120,8
    DEFPUSHBUTTON "OK",IDOK,45,45,32,14
END

// Help Dialog Box
HELP DIALOG DISCARDABLE  450, 8, 350, 200
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Aide SBASIC"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT IDC_HELPSB,6,6,338,188, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

// Program Icon
SBASIC ICON DISCARDABLE "SBASIC.ICO"

// Menu
SBASIC MENU DISCARDABLE 
BEGIN
    POPUP "&Fichier"
    BEGIN
        MENUITEM "&RUN", IDM_RUNF, GRAYED
        MENUITEM "&LOAD", IDM_LOAD, GRAYED
        MENUITEM "&BLOAD", IDM_BLOAD, GRAYED
        MENUITEM "&SAVE", IDM_SAVE, GRAYED
        MENUITEM "&COMPILE", IDM_COMPILE, GRAYED
        MENUITEM "&Quitter", IDM_QUIT
    END
    POPUP "&Programme"
    BEGIN
        MENUITEM "&NEW", IDM_NEW, GRAYED
        MENUITEM "&CLEAR", IDM_CLEAR, GRAYED
        MENUITEM "&LIST", IDM_LIST, GRAYED
        MENUITEM "&RUN", IDM_RUN, GRAYED
        MENUITEM "&Break", IDM_BREAK
        MENUITEM "C&ONT", IDM_CONT, GRAYED
    END
    POPUP "&Graphique"
    BEGIN
        MENUITEM "&Pas de zoom", IDM_ZOOM1
        MENUITEM "Zoom x&2", IDM_ZOOM2
        MENUITEM "Zoom x&3", IDM_ZOOM3
        MENUITEM "Zoom x&4", IDM_ZOOM4
        MENUITEM "Zoom x&5", IDM_ZOOM5
        MENUITEM "Zoom x&6", IDM_ZOOM6
    END
    POPUP "&Imprimante"
    BEGIN
        MENUITEM "&Editer tampon impression", IDM_PRINT
        MENUITEM "&Vider tampon impression", IDM_CLEARPRINT
    END
    POPUP "&Aide"
    BEGIN
        MENUITEM "Lisez &Moi", IDM_README
        MENUITEM "&A propos", IDM_ABOUT
    END
END

// Read Me text
README TEXT LISEZMOI.TXT

// Messages
STRINGTABLE
BEGIN
    IDS_SYNTAXERR, "Erreur de syntaxe dans la ligne de commande"
    IDS_UALLOCBUF, "Impossible d'allouer un tampon"
    IDS_UCREATEWIN, "Impossible de créer la fenêtre principale"
    IDS_RUN_FILE, "Exécution de"
    IDS_LOAD_FILE, "Chargement source depuis"
    IDS_BLOAD_FILE, "Chargement programme depuis"
    IDS_SAVE_FILE, "Sauvegarde dans"
    IDS_COMPILE_FILE, "Compilation dans"
    IDS_FILTER_BAS, "Fichier BASIC\0*.BAS\0Tous les fichiers\0*.*"
    IDS_FILTER_BAC, "Fichier BASIC compilé\0*.BAC\0Tous les fichiers\0*.*"
    IDS_FILTER_BACBAS, "Fichier BASIC\0*.BAC;*.BAS\0Tous les fichiers\0*.*"
    IDS_DELPRINT, "Supression fichier impression?"
    IDS_NOPRINT, "Tampon impression vide!"
    IDS_PRINTERR, "Impossible d'imprimer le tampon impression!"
    IDS_PRINTCLEARERR, "Impossible de supprimer le tampon d'impression!"
    IDS_ZOOMF, "SBASIC (zoom %u%%)"
    IDS_WRITE_AS, "Ecriture de l'image dans"
    IDS_FILTER_BMP, "Fichier image (*.BMP)\0*.BMP\0Tous les fichiers\0*.*"
    IDS_PICTUREF, "Image%u"
    IDS_UCREATEIMAGE, "Impossible de créer le fichier image!"
    IDS_UWRITEIMAGE, "Impossible d'écrire le fichier image!"
    IDS_NOSAVE, "Sortie SBASIC sans sauvegarde du programme?"
    IDS_CLOSEWINDOW, "Fermeture fenêtre SBASIC"
    IDS_D3DDLL, "Dll Direct 3D DLL non disponible"
    IDS_D3DPROC, "Point d'entrée Direct 3D non trouvé"
    IDS_D3DOBJECT, "Erreur création object Direct 3D"
    IDS_D3DFORMAT, "Format surface Direct 3D non supportée"
    IDS_D3DDEVICE, "Erreur création périphérique Direct 3D"
    IDS_D3DOBJECTS, "Erreur création objects Direct 3D"
END

// Help files
KY_ABS TEXT HELP\ABS.TXT
KY_ANDORNOT TEXT HELP\ANDORNOT.TXT
KY_ARC TEXT HELP\ARC.TXT
KY_AS TEXT HELP\AS.TXT
KY_ASC TEXT HELP\ASC.TXT
KY_ATN TEXT HELP\ATN.TXT
KY_BLOAD TEXT HELP\BLOAD.TXT
KY_BROFF TEXT HELP\BROFF.TXT
KY_BRON TEXT HELP\BRON.TXT
KY_CALL TEXT HELP\CALL.TXT
KY_CHAIN TEXT HELP\CHAIN.TXT
KY_CHD TEXT HELP\CHD.TXT
KY_CHRD TEXT HELP\CHRD.TXT
KY_CLEAR TEXT HELP\CLEAR.TXT
KY_CLOSE TEXT HELP\CLOSE.TXT
KY_CLRG TEXT HELP\CLRG.TXT
KY_CLS TEXT HELP\CLS.TXT
KY_COLOR TEXT HELP\COLOR.TXT
KY_COMPILE TEXT HELP\COMPILE.TXT
KY_COS TEXT HELP\COS.TXT
KY_CURSOR TEXT HELP\CURSOR.TXT
KY_CVTDP TEXT HELP\CVTDP.TXT
KY_CVTDF TEXT HELP\CVTDF.TXT
KY_CVTPD TEXT HELP\CVTPD.TXT
KY_CVTFD TEXT HELP\CVTFD.TXT
KY_DASH TEXT HELP\DASH.TXT
KY_DATA TEXT HELP\DATA.TXT
KY_DATED TEXT HELP\DATED.TXT
KY_DELETE TEXT HELP\DELETE.TXT
KY_DIGITS TEXT HELP\DIGITS.TXT
KY_DIM TEXT HELP\DIM.TXT
KY_DPEEK TEXT HELP\DPEEK.TXT
KY_DPOKE TEXT HELP\DPOKE.TXT
KY_DRAW TEXT HELP\DRAW.TXT
KY_EDIT TEXT HELP\EDIT.TXT
KY_END TEXT HELP\END.TXT
KY_ERL TEXT HELP\ERL.TXT
KY_ERR TEXT HELP\ERR.TXT
KY_EXEC TEXT HELP\EXEC.TXT
KY_EXECUTE TEXT HELP\EXECUTE.TXT
KY_EXIT TEXT HELP\EXIT.TXT
KY_EXP TEXT HELP\EXP.TXT
KY_FIELD TEXT HELP\FIELD.TXT
KY_FILL TEXT HELP\FILL.TXT
KY_FOR TEXT HELP\FOR.TXT
KY_FRE TEXT HELP\FRE.TXT
KY_GET TEXT HELP\GET.TXT
KY_GGET TEXT HELP\GGET.TXT
KY_GOSUB TEXT HELP\GOSUB.TXT
KY_GOTO TEXT HELP\GOTO.TXT
KY_GPUT TEXT HELP\GPUT.TXT
KY_GR TEXT HELP\GR.TXT
KY_HEX TEXT HELP\HEX.TXT
KY_HGR TEXT HELP\HGR.TXT
KY_IF TEXT HELP\IF.TXT
KY_INCHD TEXT HELP\INCHD.TXT
KY_INPUT TEXT HELP\INPUT.TXT
KY_INSTR TEXT HELP\INSTR.TXT
KY_INT TEXT HELP\INT.TXT
KY_KILL TEXT HELP\KILL.TXT
KY_LABEL TEXT HELP\LABEL.TXT
KY_LEFTD TEXT HELP\LEFTD.TXT
KY_LEN TEXT HELP\LEN.TXT
KY_LET TEXT HELP\LET.TXT
KY_LINE TEXT HELP\LINE.TXT
KY_LIST TEXT HELP\LIST.TXT
KY_LOAD TEXT HELP\LOAD.TXT
KY_LOCAL TEXT HELP\LOCAL.TXT
KY_LOG TEXT HELP\LOG.TXT
KY_LPRINT TEXT HELP\LPRINT.TXT
KY_LSET TEXT HELP\LSET.TXT
KY_LTRIMD TEXT HELP\LTRIMD.TXT
KY_MASK TEXT HELP\MASK.TXT
KY_MIDD TEXT HELP\MIDD.TXT
KY_MOD TEXT HELP\MOD.TXT
KY_MOVE TEXT HELP\MOVE.TXT
KY_NEW TEXT HELP\NEW.TXT
KY_NEXT TEXT HELP\NEXT.TXT
KY_ON TEXT HELP\ON.TXT
KY_OPEN TEXT HELP\OPEN.TXT
KY_OVERLAY TEXT HELP\OVERLAY.TXT
KY_PEEK TEXT HELP\PEEK.TXT
KY_PEN TEXT HELP\PEN.TXT
KY_PI TEXT HELP\PI.TXT
KY_PLAY TEXT HELP\PLAY.TXT
KY_PLOT TEXT HELP\PLOT.TXT
KY_POINT TEXT HELP\POINT.TXT
KY_POKE TEXT HELP\POKE.TXT
KY_PORT TEXT HELP\PORT.TXT
KY_POS TEXT HELP\POS.TXT
KY_PRINT TEXT HELP\PRINT.TXT
KY_PTR TEXT HELP\PTR.TXT
KY_PUT TEXT HELP\PUT.TXT
KY_READ TEXT HELP\READ.TXT
KY_RECORD TEXT HELP\RECORD.TXT
KY_REM TEXT HELP\REM.TXT
KY_RENAME TEXT HELP\RENAME.TXT
KY_RENUMBER TEXT HELP\RENUMBER.TXT
KY_RESTORE TEXT HELP\RESTORE.TXT
KY_RESUME TEXT HELP\RESUME.TXT
KY_RETURN TEXT HELP\RETURN.TXT
KY_RIGHTD TEXT HELP\RIGHTD.TXT
KY_RND TEXT HELP\RND.TXT
KY_RSET TEXT HELP\RSET.TXT
KY_RTRIMD TEXT HELP\RTRIMD.TXT
KY_SET TEXT HELP\SET.TXT
KY_SETCOLOR TEXT HELP\SERCOLOR.TXT
KY_SGN TEXT HELP\SGN.TXT
KY_SIN TEXT HELP\SIN.TXT
KY_SPC TEXT HELP\SPC.TXT
KY_SQR TEXT HELP\SQR.TXT
KY_STOP TEXT HELP\STOP.TXT
KY_STRD TEXT HELP\STRD.TXT
KY_STRINGD TEXT HELP\STRINGD.TXT
KY_SUB TEXT HELP\SUB.TXT
KY_SWAP TEXT HELP\SWAP.TXT
KY_SYMBOL TEXT HELP\SYMBOL.TXT
KY_TAB TEXT HELP\TAB.TXT
KY_TAN TEXT HELP\TAN.TXT
KY_TEXT TEXT HELP\TEXT.TXT
KY_TIME TEXT HELP\TIME.TXT
KY_TO TEXT HELP\TO.TXT
KY_TROFF TEXT HELP\TROFF.TXT
KY_TRON TEXT HELP\TRON.TXT
KY_USING TEXT HELP\USING.TXT
KY_VAL TEXT HELP\VAL.TXT
KY_WINDOW TEXT HELP\WINDOW.TXT
KY_XPEN TEXT HELP\XPEN.TXT
KY_YPEN TEXT HELP\YPEN.TXT
KY_BREAK TEXT HELP\BREAK.TXT
KY_CONT TEXT HELP\CONT.TXT
KY_PLIST TEXT HELP\PLIST.TXT
KY_REFSUB TEXT HELP\REFSUB.TXT
KY_RUN TEXT HELP\RUN.TXT
KY_SAVE TEXT HELP\SAVE.TXT
KY_SYSTEM TEXT HELP\SYSTEM.TXT
KY_TASVAR TEXT HELP\TASVAR.TXT
KY_TRIVAR TEXT HELP\TRIVAR.TXT
KY_BSAVE TEXT HELP\BSAVE.TXT
KY_STACK TEXT HELP\STACK.TXT
KY_ARGC TEXT HELP\ARGC.TXT
KY_ARGV TEXT HELP\ARGV.TXT